DOCKERFILE='Dockerfile'

EXTERNAL_REGISTRY_BASE_DOMAIN=quay.io/example-org
REPOSITORY_NAME='minimal-example'
DOCKERTAG=quay.io/example-org/minimal-example

NAMESPACE='production'

CONFIGMAPS=()
SECRETS=()
SERVICES=(minimal-production)
INGRESSES=()
DEPLOYMENTS=(minimal-production)
JOBS=()
BLOCKING_JOBS=()
