# Configuration for https://www.npmjs.com/package/rok8s-scripts

# Dockerfile to build
DOCKERFILE='Dockerfile'

# External registry domain
EXTERNAL_REGISTRY_BASE_DOMAIN=quay.io/example-org

# Name of repository/project
REPOSITORY_NAME='example-app'

# Docker tag that will be created
# Defaults to concatenation of your external registry + repository name, i.e.:
# DOCKERTAG=quay.io/example-org/example-app
DOCKERTAG=quay.io/example-org/example-app

# Namespace to work in
NAMESPACE='example-app'

# List of files ending in '.configmap.yml' in the deploy directory
CONFIGMAPS=()

# List of files ending in '.secret.yml' in the deploy directory
SECRETS=('example-app')

# List of files ending in '.secret.external' in the deploy directory
EXTERNAL_SECRETS=('example-app-external')

# List of files ending in '.statefulset.yml' in the deploy directory
STATEFULSETS=()

# List of files ending in '.service.yml' in the deploy directory
SERVICES=('example-app')

# List of files ending in '.ingress.yml' in the deploy directory
INGRESSES=()

# List of files ending in '.deployment.yml' in the deploy directory
DEPLOYMENTS=('example-app')

# List of files ending in '.job.yml' in the deploy directory
JOBS=()

# List of files ending in '.blockingjob.yml' in the deploy directory
BLOCKING_JOBS=(example-app)

# List of files ending in '.cronjob.yml' in the deploy directory
CRONJOBS=()
