DOCKERFILE='Dockerfile'

EXTERNAL_REGISTRY_BASE_DOMAIN=quay.io/example-org
REPOSITORY_NAME='rok8s-scripts-test'
DOCKERTAG=${EXTERNAL_REGISTRY_BASE_DOMAIN}/${REPOSITORY_NAME}

NAMESPACE='rok8s-example'

CONFIGMAPS=()
SECRETS=()
SERVICES=(minimal-production)
INGRESSES=()
DEPLOYMENTS=(minimal-production)
JOBS=()
BLOCKING_JOBS=()
