version: 2.1

orbs:
  orb-tools: circleci/orb-tools@9.0.0
  rok8s-scripts: fairwinds/rok8s-scripts@11

references:
  docker_login: &docker_login
    run:
      name: Docker login
      command: docker login -u="reactiveops+circleci" -p="${QUAY_TOKEN}" quay.io

  load_supported_docker_bases: &load_supported_docker_bases
    run:
      name: Load all the base docker images we support from the ci-images dir
      command: echo "export SUPPORTED_DOCKER_BASES=\"$(ls ci-images)\"" >> $BASH_ENV

  docker_build: &docker_build
    run:
      name: Docker build
      command: |
        for docker_base in ${SUPPORTED_DOCKER_BASES}; do
          docker build -f ci-images/${docker_base}/Dockerfile -t quay.io/reactiveops/ci-images:$DOCKER_BASE_TAG-${docker_base} .
        done

  docker_push: &docker_push
    run:
      name: Docker push
      command: |
        if [[ "${DOCKER_BASE_TAG}" =~ ^v[0-9]+ ]]; then
          for docker_base in ${SUPPORTED_DOCKER_BASES}; do
            echo "Pushing ${docker_base}"
            docker tag quay.io/reactiveops/ci-images:{$DOCKER_BASE_TAG,$DOCKER_MAJOR_TAG}-${docker_base}
            docker tag quay.io/reactiveops/ci-images:{$DOCKER_BASE_TAG,$DOCKER_MINOR_TAG}-${docker_base}
            docker push quay.io/reactiveops/ci-images:$DOCKER_BASE_TAG-${docker_base}
            docker push quay.io/reactiveops/ci-images:$DOCKER_MAJOR_TAG-${docker_base}
            docker push quay.io/reactiveops/ci-images:$DOCKER_MINOR_TAG-${docker_base}
          done
        elif [[ "${DOCKER_BASE_TAG}" =~ ^dev- ]]; then
          for docker_base in ${SUPPORTED_DOCKER_BASES}; do
            docker push quay.io/reactiveops/ci-images:$DOCKER_BASE_TAG-${docker_base}
          done
        else
          echo "Skipping the docker push because '\$DOCKER_BASE_TAG: $DOCKER_BASE_TAG' does not start with dev- or v[0-9]+."
        fi

  build_docker_tags: &build_docker_tags
    run:
      name: Generate major & minor tags
      command: |
        echo "export DOCKER_MAJOR_TAG=$(echo ${DOCKER_BASE_TAG} | sed -r 's/^(v[0-9]+)(\.[0-9]+)(\.[0-9]+)$/\1/')" >> $BASH_ENV
        echo "export DOCKER_MINOR_TAG=$(echo ${DOCKER_BASE_TAG} | sed -r 's/^(v[0-9]+)(\.[0-9]+)(\.[0-9]+)$/\1\2/')" >> $BASH_ENV

  test_gh_pages: &test_gh_pages
    run:
      name: Make sure GitHub pages is up to date
      command: |
        make docs-index
        git diff --exit-code docs/

jobs:
  test:
    docker:
      - image: circleci/python:3.7-buster-node
    steps:
      - checkout
      - run: sudo test/setup.sh
      - run: test/run.sh
      - *test_gh_pages

  build:
    docker:
      - image: circleci/buildpack-deps:buster
    steps:
      - checkout
      - *load_supported_docker_bases
      - setup_remote_docker
      - run: echo 'export DOCKER_BASE_TAG=dev-$CIRCLE_SHA1' >> $BASH_ENV
      - *docker_login
      - *docker_build
      - *docker_push

  release:
    docker:
      - image: circleci/node:boron
    steps:
      - checkout
      - *load_supported_docker_bases
      - setup_remote_docker
      - run: echo 'export GITHUB_ORGANIZATION=$CIRCLE_PROJECT_USERNAME' >> $BASH_ENV
      - run: echo 'export GITHUB_REPOSITORY=$CIRCLE_PROJECT_REPONAME' >> $BASH_ENV
      - run: echo 'export DOCKER_BASE_TAG=$CIRCLE_TAG' >> $BASH_ENV
      - *build_docker_tags
      - *docker_login
      - *docker_build
      - *docker_push

  request-orb-publish:
    docker:
      - image: alpine:latest
    steps:
      - run:
          name: "Request Orb Publish"
          command: |
            apk --update add curl
            curl -X POST --data-urlencode "payload={\"text\": \"Please publish a new orb by checking out the tag and running release-orb.sh\"}" $SLACK_URL
  publish_docs:
    docker:
      - image: cimg/node:15.5.1
    steps:
      - checkout
      - run:
          name: Build Docs Site
          command: |
            cd ./docs
            npm install
            npm run check-links
            npm run build
      - run:
          name: Install AWS CLI
          command: |
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
      - run:
          name: Publish Docs Site to S3
          command: |
            cd ./dist
            aws s3 sync ./ s3://rok8s-scripts.docs.fairwinds.com --delete
workflows:
  "Docker Build and Test":
    jobs:
      - test:
          name: "Run Tests"
      - build:
          name: "Build Docker Images"
          requires:
            - "Run Tests"
  Release:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - rok8s-scripts/github_release:
          requires:
            - release
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

  "Orb Test and Publish":
    jobs:
      - orb-tools/lint:
          name: "Lint Orb Files"
          pre-steps:
            - run:
                command: apk add git openssh
          lint-dir: orb
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - orb-tools/pack:
          name: "Pack Orb"
          source-dir: orb
          requires:
            - "Lint Orb Files"
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - orb-tools/publish:
          name: "Publish Dev Orb"
          orb-ref: fairwinds/rok8s-scripts@dev:${CIRCLE_BRANCH}
          publish-token-variable: CIRCLECI_DEV_API_TOKEN
          attach-workspace: true
          requires:
            - "Pack Orb"
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /.*/
      - request-orb-publish:
          name: "Request Orb Pubslishing"
          requires:
            - "Pack Orb"
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - publish_docs:
          filters:
            branches:
              only: sudermanjr/docs-site
            tags:
              only: /.*/
