DOCKERFILE='Dockerfile'

EXTERNAL_REGISTRY_BASE_DOMAIN=quay.io/example-org
REPOSITORY_NAME='rok8s-scripts-test'
DOCKERTAG=${EXTERNAL_REGISTRY_BASE_DOMAIN}/${REPOSITORY_NAME}

NAMESPACE='rok8s-example-sops'

# These secrets will be decrypted and deployed to Kubernetes.
# Specify files with extension .secret.sops.yml
# DO not include the extension here.
# This variable does not relate to the `secrets` variable below,
#   which is used for unencrypted secrets.
SOPS_SECRETS=('production/minimal-sops-production')

CONFIGMAPS=()
SECRETS=()
SERVICES=(minimal-sops-production)
INGRESSES=()
DEPLOYMENTS=(minimal-sops-production)
JOBS=()
BLOCKING_JOBS=()
