NAMESPACE='default'
DOCKERFILE=(Dockerfile)

CONFIGMAPS=(
	development/appname
)

DEPLOYMENTS=(
	appname
)

HORIZONTAL_POD_AUTOSCALERS=(
	development/appname
)

SERVICES=(
	appname
)

BLOCKING_JOBS=()

SOPS_SECRETS=(development/appname)
SOPS_KMS_ARN='projects/company-development/locations/global/keyRings/company_gke_secrets/cryptoKeys/development'
