NAMESPACE='default'
DOCKERFILE=(Dockerfile)

CONFIGMAPS=(
	production/appname
)

DEPLOYMENTS=(
	appname
)

HORIZONTAL_POD_AUTOSCALERS=(
	production/appname
)

SERVICES=(
	appname
)

BLOCKING_JOBS=()
SOPS_SECRETS=(production/appname)
SOPS_KMS_ARN='projects/company-prod/locations/global/keyRings/company_gke_secrets/cryptoKeys/production'
