NAMESPACE='default'
DOCKERFILE=(Dockerfile)

CONFIGMAPS=(
	staging/appname
)

DEPLOYMENTS=(
	appname
)

HORIZONTAL_POD_AUTOSCALERS=(
	staging/appname
)

SERVICES=(
	appname
)

BLOCKING_JOBS=()
SOPS_SECRETS=(staging/appname)
SOPS_KMS_ARN='projects/company-staging/locations/global/keyRings/company_gke_secrets/cryptoKeys/staging'
