NAMESPACE='development'

HELM_REPO_NAMES=('bitnami')
HELM_REPO_URLS=('https://charts.bitnami.com')

# deploy the same chart twice with different release name and values, also redis
HELM_CHARTS=('charts/example' 'charts/example' 'bitnami/redis')
HELM_RELEASE_NAMES=('example' 'example-alt' 'bitnami-redis')
HELM_VALUES=('values/development' 'values/development-alt' 'values/redis-dev')
HELM_TIMEOUTS=('400' '600' '400')
