apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: example
  namespace: production
spec:
  minReplicas: 2
  maxReplicas: 50
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: example
  targetCPUUtilizationPercentage: 75

