EXTERNAL_REGISTRY_BASE_DOMAIN=quay.io/example-org
REPOSITORY_NAME='example'
DOCKERTAG=quay.io/example-org/example

NAMESPACE='production'

CONFIGMAPS=(example-production)
SECRETS=()
SERVICES=(example-production)
INGRESSES=()
DEPLOYMENTS=(example)
JOBS=()
BLOCKING_JOBS=(example-migration)
HORIZONTAL_POD_AUTOSCALERS=(example-production)
