EXTERNAL_REGISTRY_BASE_DOMAIN=quay.io/example-org
REPOSITORY_NAME='example'
DOCKERTAG=quay.io/example-org/example

NAMESPACE='staging'

CONFIGMAPS=(example-staging)
SECRETS=()
SERVICES=(example-staging)
INGRESSES=()
DEPLOYMENTS=(example)
JOBS=()
BLOCKING_JOBS=(example-migration)
HORIZONTAL_POD_AUTOSCALERS=(example-staging)
